// .env.example

PORT=port_number

MONGODB_USER=your_username
MONGODB_PASSWORD=your_password
MONGODB_URL=your_cluster.mongodb.net
MONGODB_DB=your_database_name


SMTP_HOST=smtp_host
SMTP_PORT=smtp_port
SMTP_USER=smtp_user
SMTP_PASSWORD=smtp_password
SMTP_FROM=smtp_from

JWT_SECRET=jwt_secret
APP_DOMAIN=domain

CLOUD_NAME=cloud_name
API_KEY=api_key
API_SECRET=api_secret

UPLOAD_TO_CLOUDINARY=upload_to_cloudinary